openapi: 3.0.1
info:
  title: Lodgify Public Availability Messaging API
  description: The Lodgify Public API is a REST interface for the Lodgify vacation rental platform. It exposes properties and room types, availability calendars, daily rates, rate settings, priced quotes, the full booking and reservation lifecycle, guest messaging threads, and webhook subscriptions. The API spans two versions (v1 and v2) under the host https://api.lodgify.com and is authenticated with an X-ApiKey request header.
  termsOfService: https://www.lodgify.com/legal-stuff/
  contact:
    name: Lodgify Support
    url: https://docs.lodgify.com
  version: '2.0'
servers:
- url: https://api.lodgify.com
  description: Lodgify Public API (v1 and v2 paths)
security:
- ApiKeyAuth: []
tags:
- name: Messaging
  description: Guest conversation threads and messages.
paths:
  /v2/messaging/{threadGuid}:
    get:
      operationId: getThread
      tags:
      - Messaging
      summary: Get a messaging thread
      description: Returns a guest conversation thread and its messages by thread GUID.
      parameters:
      - name: threadGuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The conversation thread.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Thread:
      type: object
      properties:
        guid:
          type: string
          format: uuid
        subject:
          type: string
        is_read:
          type: boolean
        is_archived:
          type: boolean
        messages:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
              type:
                type: string
              subject:
                type: string
              message:
                type: string
              created_at:
                type: string
                format: date-time
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid X-ApiKey.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-ApiKey
      description: Account API key passed in the X-ApiKey request header.
