openapi: 3.0.1
info:
  title: Lodgify Public Availability API
  description: The Lodgify Public API is a REST interface for the Lodgify vacation rental platform. It exposes properties and room types, availability calendars, daily rates, rate settings, priced quotes, the full booking and reservation lifecycle, guest messaging threads, and webhook subscriptions. The API spans two versions (v1 and v2) under the host https://api.lodgify.com and is authenticated with an X-ApiKey request header.
  termsOfService: https://www.lodgify.com/legal-stuff/
  contact:
    name: Lodgify Support
    url: https://docs.lodgify.com
  version: '2.0'
servers:
- url: https://api.lodgify.com
  description: Lodgify Public API (v1 and v2 paths)
security:
- ApiKeyAuth: []
tags:
- name: Availability
  description: Availability calendars for properties and room types.
paths:
  /v2/availability/{propertyId}:
    get:
      operationId: getPropertyAvailability
      tags:
      - Availability
      summary: Get property availability
      description: Returns the availability calendar for a property over a date range, listing available and booked periods per room type.
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/From'
      - $ref: '#/components/parameters/To'
      responses:
        '200':
          description: Availability periods for the property.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AvailabilityPeriod'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    AvailabilityPeriod:
      type: object
      properties:
        room_type_id:
          type: integer
          format: int32
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        available:
          type: integer
          format: int32
        closed_period:
          type: boolean
        bookings:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int32
              status:
                type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  parameters:
    From:
      name: from
      in: query
      schema:
        type: string
        format: date
      description: Start date (YYYY-MM-DD).
    To:
      name: to
      in: query
      schema:
        type: string
        format: date
      description: End date (YYYY-MM-DD).
  responses:
    Unauthorized:
      description: Missing or invalid X-ApiKey.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-ApiKey
      description: Account API key passed in the X-ApiKey request header.
